@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'MaSuperPolice';
	src:url('MyriadPro-Light.otf');
}

body {
	background-image: url(../Images/background.bmp); 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size:cover;
	font-family:"MaSuperPolice";
	 margin: auto;
  width:83%;
}

#final {
	background-color: rgba(255,255,255,0.5);
	margin-right:auto;
	margin-left:auto;
	margin-top:5%;
	margin-bottom:10%;
	width: 400px;
	height: 600px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#cgu {
	background-color: rgba(255,255,255,0.5);
	margin-right:auto;
	margin-left:auto;
	margin-top:5%;
	margin-bottom:1%;

	height: 600px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	overflow:auto;
	text-align:justify;
}

::-webkit-input-placeholder {
	color: #bbb;
}

:-moz-placeholder {
	color: #bbb;
}                       

.placeholder{
	color: #bbb; /* polyfill */
}       

#signup input{
	margin: 5px 0;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px; 
}

#signup input:focus{
	outline: 0;
	border-color: #aaa;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
}       

#signup button{
	margin: 20px 0 0 0;
	padding: 15px 8px;          
	width: 100%;
	cursor: pointer;
	border: 1px solid #2493FF;
	overflow: visible;
	display: inline-block;
	color: #fff;
	font: bold 1.4em arial, helvetica;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);         
	background-color: #2493ff;
	background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0)); 
	transition: background-color .2s ease-out;
	border-radius: 3px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .3),
	0 1px 0 rgba(255, 255, 255, .5) inset;                               
}

#signup button:hover{
	background-color: #7cbfff;
	border-color: #7cbfff;
}

#signup button:active{
	position: relative;
	top: 3px;
	text-shadow: none;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
}