@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'MaSuperPolice';
	src:url('MyriadPro-Light.otf');
}

body {
	background-image: url(../Images/background.bmp); 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size:cover;
	font-family:"MaSuperPolice";
	display:inline-block;
}

#inline {
	width:83%;
	margin-top: 10%;
	height:50%;
	float: left;
}

#connect {
	background-color: rgba(255,255,255,0.5);
	margin-left: 8%;
	margin-right: 10%;
	width: 35%;
	height: 20%;
	padding-top: 3%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 4%;
	float: left;
	position: relative;
}

#inscription {
	background-color: rgba(255,255,255,0.5);
	margin-top: 2%;
	margin-left: 8%;
	margin-right: 10%;
	width: 35%;
	height: 20%;
	padding-top: 3%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 4%;
	margin-bottom:15%;
	float: left;
	position: relative;
}

#reset {
	background-color: rgba(255,255,255,0.5);
	margin-top: 23%;
	margin-left:5%;
	padding-left: 2%;
	width:35%;
	float: left;
	position: relative;
}

#presentation {
	background-color: rgba(255,255,255,0.5);
	padding:3%;
	margin-left:40%;
	width:45%;
	margin-bottom:15%;
	text-align:justify;
	float: right;
	position: absolute;
}

#imgpres {
	margin-left:20%;	
}

#resetmdp {
	background-color: rgba(255,255,255,0.5);
	margin-top: 200px;
	margin-left: auto;
	margin-right:auto;
	width: 400px;
	height: 250px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 100px;
}

::-webkit-input-placeholder {
	color: #bbb;
}

:-moz-placeholder {
	color: #bbb;
}                       

.placeholder{
	color: #bbb; /* polyfill */
}       

#signup input{
	margin: 5px 0;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px; 
}

#signup input:focus{
	outline: 0;
	border-color: #aaa;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
}       

#signup button{
	margin: 20px 0 0 0;
	padding: 15px 8px;          
	width: 100%;
	cursor: pointer;
	border: 1px solid #2493FF;
	overflow: visible;
	display: inline-block;
	color: #fff;
	font: bold 1.4em arial, helvetica;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);         
	background-color: #2493ff;
	background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0)); 
	transition: background-color .2s ease-out;
	border-radius: 3px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .3),
	0 1px 0 rgba(255, 255, 255, .5) inset;                               
}

#signup button:hover{
	background-color: #7cbfff;
	border-color: #7cbfff;
}

#signup button:active{
	position: relative;
	top: 3px;
	text-shadow: none;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
}

#final {
	background-color: rgba(255,255,255,0.5);
	margin-right:auto;
	width: 400px;
	height: 600px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
