#formMenuBox {
    margin-top:0.4%;
    margin-left:0.4%;
    }
#formMenuBox button {
    border:0;
    width:150px;
    height:40px;
    background-color:#aFaFaF;
    }
#fromNewMessage{
    margin-left:0.4%;
    margin-top:0.1%;
    }
#receiver {
    width:144px;
    }
#content {
    width:455px;
    height:150px;
    }
#fromNewMessage button{
    border:0;
    width:60px;
    height:30px;
    background-color:#a0F0a0;
    }
#messageList {
    list-style-image: url('../Images/Icons/triforce.png');;
    }
#messageList button{
    height:20px;
    border:0;
    background-color:#F0F0F0;
    margin-top:+1px;
    }
#delMessage {
    background: url('../Images/Icons/DeleteButton.png') no-repeat;
    width:15px;
    height:15px;
    border:0;
    margin-left:0.4%;
    }
#response {
    height:15px;
    border:0;
    background-color:#F0F0F0;
    position:absolute;
    margin-left:5px;
    margin-top:6px;
    }
#messageContent {
    margin-left:1%;
    }
#messageText {
    margin-left:2%;
    }
#formProfilView {
    display:inline-block;
    }
#userLink {
    border:0;
    }